.student_content_to_submit_wrapper {
  .student_content_to_submit {
    div {
      font-weight: 400;
      font-size: 14px;

      display: grid;
      gap: 4px;

      .title {
        line-height: 120%;
        letter-spacing: 0%;
        color: #212121;
      }

      .value {
        line-height: 24px;
        letter-spacing: 0px;
        color: #8a8894;
      }
    }
  }
}

.add_parent_button_wrapper {
  display: flex;
  justify-content: end;

  margin-top: 24px;
  margin-bottom: 4px;
}
