.page_wrapper {
  height: calc(100dvh - 114.5px);
  
}

.overlay_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.068);
  z-index: 2;
}

.hvr_zm_out {
  transition: transform 0.25s ease;

  &:hover {
    transform: scale(0.97);
  }
  
}
.hvr_zm_out_tbl_rw {
  transition: transform 0.25s ease;

  &:hover {
    transform: scale(0.99);
  } 
}

.hvr_zm_in {
  transition: transform 0.45s ease;

  &:hover {
    // transform: scale(1.0091);
    transform: scale(1.01);
  }
}

.complaint_page,
.admission_query,
.postal_receive,
.postal_dispatch,
.phone_call_log,
.id_card_page,
.certificate_page,
.generate_certificate_page,
.generate_id_card_page,
.optional_subject_page,
.section_page,
.class_page,
.subjects_page,
.assign_class_teacher_page,
.class_room_page,
.upload_content_page,
.assignment_page,
.syllabus_page,
.other_downloads_page,

.content_type,
.content_list,
.shared_content_list,
.video_list,

.student_category,
.student_list,
.add_student,
.multi_class_student,
.delete_student_record,
.unassigned_student,
.student_group,
.student_promote,
.disabled_students,
.student_attendance,

.incidents,
.assign_incident,

.profile-page,

.general_settings_page,
.update_general_settings_page,

.dashboard {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    padding: 16px 12px;
    gap: 16px;
  }
}
