* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #e0e0f1;
    border-radius: 4px;
  }
}

body {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: #f4f3fe;
}
